body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
  margin: 0;
  padding: 15px 20px;

  height: 60px;
  background: #FFFFFF;
  /* border: 1px solid #BABABA; */
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}




/* style.css  of  other devlopers    */

